---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Davi Oliveira 😊</title>
	</head>
	<body>
		<h1>Hello World!</h1>
	</body>
</html>

<style>
	:root {
		--dark-background: #1f1f1f;
		--light-background: #f9f9fa;
	}

	body {
		background-color: var(--light-background);
		color: var(--dark-background);
	}

	@media (prefers-color-scheme: dark) {
		body {
			background-color: var(--dark-background);
			color: var(--light-background);
		}
	}
</style>
